# This file should be put under /etc/systemd/system/.

[Unit]
Description=frp server
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /root/easy-frp/scripts/frp-server.sh

[Install]
WantedBy=multi-user.target
